@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Open+Sans);

body{
    background-image: url("./images/blue2.jpg");
    /* background-size: contain; */
}
.container {
    background-color: black;
    opacity: 1;
} 

#movie {
    justify-content: space-around;
    width: 1100px;
    margin-left: 40px;
}
.movie {
    color: #000;
    margin-left: 20px;
    margin-top: 10px;
}
.card {
    width: 200px;
}
.location {
    margin:20px;
}
#filter{
margin: 0 auto;
width: 1000px;
}
.btn {
    width:150px; 
    /* justify-content: center; */
}
.navbar-brand {
    font-family: 'Courgette', cursive;
    font-size: 2em;
}
.navbar {
    margin-left: 0px;
    color: red;
}