body{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/02/66/12/425789c9ee094f4.jpg");
}
.container {
    background-color: black;
    /* opacity: 1; */
}
#movie{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    
}
.movie-image {
    height: 300px;
    display: block;
    
}
.black-panther {
    justify-items: flex-start; 
   margin-bottom: 20px;
}
.content {
    color: #fff;
    margin-left: 20px;
}
.location {
    margin:20px;
}
#filter{
    justify-content: center;
}
.btn {
    width:200px; 
}
